body {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 16px;
    padding-top: 30px;
    background-color:aliceblue;
  }
 div.title{
    display: flex;
    justify-content: center;
   
 }
 h2{
     color: rgb(0, 102, 255);
 }


 body button {
     color: blue;
     background-color: rgba(245, 221, 8, 0.788);
 }
 .result1{
    display: flex;
    justify-content: center;
 }
 .result2{
    display: flex;
    justify-content: center;
 }
 .result2:hover img{
    transform: scale(1.3);
    margin-bottom:71px;
 }
h2 {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-name {
    text-transform: capitalize;
    font-weight: bold;
}
img {
    display: flex;
    justify-content: center;
    display: block;
    
}
button {
    background-color: white;
    border-style: none;
    border: solid 1px black;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}